.MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  width: 320px;
  height: 164px;
}

.fermer {
  width: 282px;
  height: 282px;
}
